.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  /*aysinqn estex asum enq vor erku tox e @ndhanur araji tox@ header@ erkord tox@ nav@ ev content@*/
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
